.nav {
  width: 100%;
  height: 65px;
  background-color: #f3ecdb;
  @include flex-center-row;
  position: relative;
}
.nav_title {
  @include f-20-b;
}
.leaveIcon {
  position: absolute;
  @include flex-center-row;
  @include f-20-gray;
  left: 30px;
  gap: 5px;
  cursor: pointer;
}
/*遊戲主畫面*/
.game {
  width: 100%;
  min-height: 72vh;
  margin: 0px;
  @include flex-center-row;
  .user_section {
    max-width: 1440px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    gap: 50px;
  }
  .user_panel {
    width: 400px;
    height: 150px;
    background-color: #ecf4f9;
    border-radius: 20px;
    @include flex-center-row;
    gap: 15px;
  }

  .user_asset {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .asset {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .card_info {
    @include flex-center-column;
    gap: 5px;
  }
  .card_icon {
    width: 18.5px;
    height: 28px;
    background-color: #8897bc;
    border-radius: 3px;
  }
  .card_num {
    color: #02102b;
  }
  .money_icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: yellow;
  }
  .area {
    width: 74px;
    height: 112px;
    border-radius: 15px;
    background-color: rgb(238, 238, 178);
  }
  .seemore {
    @include flex-center-column;
    gap: 5px;
  }
}

.my_game {
  width: 100%;
  min-height: 219px;
  background-color: #ecf4f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0% 10%;
}
.my_game_info {
  @include flex-center-row;
  gap: 50px;
}
.my_character {
  width: 84px;
  height: 136px;
  background-color: #d98d8d;
  border-radius: 20px;
}
.my_card_group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.my_card {
  width: 88px;
  height: 133px;
  background-color: #fdff8c;
  border-radius: 20px;
}
.my_money_icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: yellow;
}
.my_money {
  display: flex;
  justify-content: center;
  align-items: center;
}
.my_area {
  width: 100%;
  background-color: #f3ecdb;
  border-radius: 20px;
  grid-column: span 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
}
.my_area_group {
  @include flex-center-row;
  gap: 10px;
}
.my_point {
  @include flex-center-column;
}

.my_avatar {
  border-radius: 50%;
  width: 52px;
  height: 52px;
  background-color: white;
  display: inline-block;
}

.pending {
  width: 100%;
  @include flex-center-row;
  margin-bottom: 20px;
}

選擇 Repo
訂閱_game.scss
/*遊戲主畫面*/

.game {
  width: 100%;
  min-height: 90vh;
  margin: 0px;
  .nav {
    width: 100%;
    height: 65px;
    background-color: #f3ecdb;
    @include flex-center-row;
  }
  .user_section {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    gap: 35px;
  }
  .user_panel {
    width: 100%;
    height: 150px;
    background-color: #ecf4f9;
    border-radius: 20px;
    @include flex-center-row;
    gap: 15px;
  }
  .user_info {
    @include flex-center-column;
  }

  .user_avatar {
    width: 72px;
    height: 72px;
    background-color: aquamarine;
    border-radius: 50%;
  }

  .user_name {
    @include f-12-b;
  }

  .user_asset {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .asset {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .card_info {
    @include flex-center-column;
    gap: 5px;
  }
  .card_icon {
    width: 18.5px;
    height: 28px;
    background-color: #8897bc;
    border-radius: 3px;
  }
  .card_num {
    color: #02102b;
  }
  .money_icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: yellow;
  }
  .area {
    width: 74px;
    height: 112px;
    border-radius: 15px;
    background-color: rgb(238, 238, 178);
  }
  .seemore {
    @include flex-center-column;
    gap: 5px;
  }
}

.my_game {
  width: 100%;
  min-height: 219px;
  background-color: #ecf4f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0% 10%;
}
.my_game_info {
  @include flex-center-row;
  gap: 50px;
}
.my_character {
  width: 84px;
  height: 136px;
  background-color: #d98d8d;
  border-radius: 20px;
}
.my_card_group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.my_card {
  width: 88px;
  height: 133px;
  background-color: #fdff8c;
  border-radius: 20px;
}
.my_money_icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: yellow;
}
.my_money {
  display: flex;
  justify-content: center;
  align-items: center;
}
.my_area {
  width: 100%;
  background-color: #f3ecdb;
  border-radius: 20px;
  grid-column: span 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
}
.my_area_group {
  @include flex-center-row;
  gap: 10px;
}
.my_point {
  @include flex-center-column;
}

.my_avatar {
  border-radius: 50%;
  width: 52px;
  height: 52px;
  background-color: white;
  display: inline-block;
}

.pending {
  width: 100%;
  @include flex-center-row;
  margin-bottom: 20px;
}

.user_info {
  @include flex-center-column;
}
.user_name {
  @include f-12-b;
}
